node_modules
.expo/**
*-*-*-*-*
yarn-error.log
.expo-shared/**
talkvegantome.app/**
assets/amplitudeSettings.json
*.ipa
*.apk
*.zip
*.mov

## Build
android/app/build/**
ios/build/**
android/.gradle/**

## Fastlane
report.xml

## Editors
*.iws
**/.idea/workspace.xml 
**/.idea/tasks.xml
**/.idea/libraries
**/.idea/caches
**/xcuserdata/**
